@import '../../../../style.scss';

.WikidataCard {
  position: relative;
  background-color: white;
  border-radius: 8px;
  min-height: 150px;

  .Header {
    border-bottom: 1px solid rgba(15,70,100,.12);
    line-height: 24px;
  }

  .Title {
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 300;
    color: #292F33;
    margin-bottom: 0;
    padding: 10px;
  }

  .LogoWiki {
    padding: 10px;
    IMG {
      height: 22px;
    }
  }
  
  .WikiImg {
    max-height: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .Content {
    height: 409px;
    overflow-y: scroll;

    .Image{
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .Image {
    padding-top: 16px;
    color: $scanrgreyColor;
  }

  .Extract {
    padding: 7px 10px 10px 10px;
    font-size: 0.9rem;
    color: $scanrdeepblueColor;
    line-height: 22px;
    margin: 0;
  }

  .Footer {
    border-top: 1px solid rgba(15,70,100,.12);
    height: 46px;
    padding: 10px;
    font-size: 0.8rem;
    color: $scanrblueColor;
    text-align: right;
  }
}
