@import '../../../../../style.scss';

.Financial {
  font-family: 'Lato', sans-serif;
  padding-top: 24px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 50%; /* version standardisée */
  background-color: white;
  background-position: bottom 0 left 0;
}

.noSpace100 {
  margin: 0;
  padding: 0;
  flex: 1 1 calc(100% - 2px);
}
.noSpace25 {
  margin: 0;
  padding: 0;
  flex: 0 1 calc(25% - 2px);
}


@media screen and (max-width: 991px) {
  .noSpace {
    margin: 0;
    padding: 0;
    flex: 1 1 calc(100% - 2px);
  }
}
