@import '../../../style.scss';

.HomePage{
  padding: 0;
  background-color: #fff;
}

.HomePageLexiconTop{
  top: 80px;
}

.Title {
  color: #003259;
  font-size: 1.5em;
  font-weight: bold;
}

.Subtitle {
  display: inline;
  color: #4C6F8B;
}

.Text {
  margin-top: 10px;
  color: #003259;
  font-weight: bold;
}


 .Button {
   font-size: 1.6em;
 }
