@import '../../../../style.scss';


.Title {
  font-weight: 600;
}
.Title a {
  font-weight: 600;
  color: inherit;
}
.Funding {
  font-style: italic;
  color: $scanrgreyColor;
}
.participant p {
  margin: 0;
}

.yellowBullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: $entityColor;
  margin-right: 5px;
  margin-top: 5px;
}
