@import '../../../../style.scss';

.card {
  position: relative;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  min-height: 150px;

  .Title {
    color: $scanrgreyColor;
    font-style: italic;
    font-size: 0.9rem;
    padding-top: 12px;
    padding-bottom: 8px;
  }
}

.Pile {
  border-radius: 8px;
  border: 7px solid;
  padding: 0.25em;
  height: 5em;
  width: 13em;

}
.PileExtend {
  margin-left: -7px;
  height: 2em;
  width: 15px;
  border-radius: 3px;
}
.PileFill {
  height: 100%;
}
