@import '../../../style.scss';

.HomePage{
  padding: 0;
  background-color: #fff;
}

.HomePageLexiconTop{
  top: 80px;
}

.Title {
  padding-top: 20px;
  padding-left: 2%;
  color: #003259;
  font-family: "lato";
  font-size: 1.5em;
  font-weight: bold;
}

.Subtitle {
  padding-left: 2%;
  display: inline-block;
  color: #4C6F8B;
}

 .Button {
   display: inline-block;
   background-color: white;
   border: none;
   cursor: pointer;
 }

 .BtnTxt {
   display: inline-block;
   color: #4C6F8B;
   padding-right: 10px;
 }
