@import '../../../style.scss';

.Contact {

  .Content{
  padding: 50px 0;
  //padding-top: $otherPagesPaddingTop;
  //padding-bottom: $otherPagesPaddingBottom;
  background-color: #E9ECF1;
  border-radius: 5px ;
  color: $textColor;

  H2 {
    color: $titleColor;
    font-size: 1.5rem ;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  P {
    font-size: 0.9em;
    padding-right: 80px
  }

  .FormContact {
    margin-bottom: 5px;

    label {
      width: 100%;
    }

    button {
      background-color: rgb(56, 119, 186);
      color: white;
      border-radius: 5px;
      font-size: 0.7rem;
      font-weight: bolder;
    }

    button:hover {
      background-color: $hoverLinkButton;
      color: white;
    }

  }


}


  .Cards {
    background-color: white;
    background-image: url("./poudre-bleu_Fblanc-A.jpg");
    background-position: 50px 1000px ;
  }

  @media (min-width: 20px) and (max-width: 991.98px) {
    margin: .5rem;

  }

}
