@import '../../../../../style.scss';

.nbPersonsCard {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  height: 224px;
  margin: 3px;
  padding-top: 16px;

  .Logo {
    height: 60px;
    overflow: hidden;
  }

  .Nb {
    font-size: 1.6rem;
    color: $scanrdeepblueColor;
    font-weight: bold;
    padding-top: 16px;
  }
  .Label {
    color: $scanrgreyColor;
    font-size: 0.9rem;
  }
}
