.bt_return{
  border-bottom-style: none;
}

.list_fields li{
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #eee;
}

.separator{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #eee;
}

.space_5{
  margin-left: 5px;
  margin-right: 5px;
  /*margin-bottom: 2px;*/
}
