@import '../../style.scss';

.Conflict{
  display: inline-block;
  color: white;
  font-weight: 800;
  width: 24px;
  background-color: $conflictColor;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 2px;
}
