@import '../../style.scss';

.Productions {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $textColor;

  .Label {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 8px;
    font-family: 'Lato', sans-serif;
  }
}

.graphCard {
  background-color: white;
  color: $scanrdeepblueColor;
  border-radius: 8px;
  margin-bottom: 8px;
}
