@import '../../../style.scss';

.Search {
  height: 400px;
  margin:0;
  padding:0;
  background-color: $bgHomePageSearch;
  background-repeat: no-repeat;
  background-attachment: relative;
  /* background: url(logo-ministere.svg) no-repeat center fixed; */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}
