@import '../../../style.scss';

.SearchFull {
  padding-top: $headerHeight;
  background-color: $bgHomePageSearch;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-position: top 50% left 82%;
  position:relative;

  .Logo {
    // height: 130px;
    width: 100%;
    padding-top: 40px;

    IMG {
      height: 85%;
    }
  }

  .SearchPerimeter {
    color: $scanrdeepblueColor;
  }
  LI {
    list-style: none;
    display: inline;
  }

  UL {
    padding-bottom: 16px;
    padding-left: 0;
    margin: 0;
  }
}

.SearchMini {
  position: fixed;
  top: 0;
  padding-top: 75px;
  z-index: 1000;
  width: 100%;
  background-color: $bgHomePageSearch;
  box-shadow: 0px 15px 15px 0px rgba(33, 72, 103, 0.5) !important;

  .SearchPerimeter {
    color: white;
  }

}

LABEL {
  font-size: 0.8rem;
  margin-bottom: 2px;
  padding-left: 8px;
}

.TitleSearchBar {
  color: white;
}

.btn_dark_margin {
  margin-top: 24px;
}

.Select {
  background-color: rgb(0, 33, 59);
  color: white;
  border: 1px solid #00213b;
}

.HowTo {
  color: white;
  text-decoration: underline;
  font-size: 0.8rem;
  font-weight: bold;
}

.Suggest {
  color: white;
  font-size: 0.7rem;
  margin-top: 8px;

  span {
    margin-right: 8px;
  }
}
