@import '../../../style.scss';

.BannerOpendata {
 padding: 24px 0;
 color: $titleColor;
 background-color: white;

 .Title {
 font-size: 1.6em;
 }
 .Content {

 }
 .Button {
   color: $activeLinkButton;
 }
}
