# dependencies
node_modules

# testing
coverage

# production
build

# IDE
.vscode
.idea

# misc
.DS_Store
.env*.local
yarn.lock
.directory
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git
.github

# Docker
.dockerignore
Dockerfile*
