@import '../../../../../style.scss';

.SourceCard {
  position: relative;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  min-height: 306px;
  padding-top: 8px;

  .Title {
    color: $scanrgreyColor;
    font-style: italic;
    font-size: 0.9rem;
    padding-top: 8px;
  }
  .Publisher {
    color: $scanrblueColor !important;
    font-size: 1.2rem;
  }

  .Value {
    padding: 8px;
    color: $scanrdeepblueColor;
    line-height: 22px;
    font-weight: bold;
  }
  .Border {
    border-left: 5px solid $scanrlightgreyColor;
  }

}
