@import '../../../../../style.scss';

.SummaryCard {
  position: relative;
  background-color: white;
  border-radius: 8px;
  min-height: 150px;
  margin: 3px;
  color: $scanrdeepblueColor;

  .Title {
    font-size: 1.2rem;
    padding-top: 16px;
    padding-left: 16px;
    font-weight: bold;
  }

  .Text {
    padding: 16px;
    margin-right: 8px;
    font-size: 0.9rem;
    line-height: 22px;
    text-align: justify;
    overflow-y: scroll;
  }
  .Text::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 10px;
    background-color: $scanrlightgreyColor;
  }
  .Text::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 1px;
    border-left-width: 1px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 6px White;
  }
}

@media (min-width: 1541px) {
  .SummaryCard {
    height: 306px;
    .Text {
      height: 250px;
    }
  }
}

@media (max-width: 1540px) {
  .SummaryCard {
    height: 306px;
    .Text {
      height: 250px;
    }
  }
}

@media (max-width: 991px) {
  .SummaryCard {
    height: 462px;
    .Text {
      height: 394px;
    }
  }
}
