@import '../../../style.scss';

.ComponentToPage {
  padding: 32px 0;
  color: $titleColor;
  font-size: 1.6em;
  box-shadow: 0px 15px 25px 0px #ccc !important;

  .MarginTop {
    margin-top: 8px;
  }
}
