@import '../../../style.scss';

.Header {
  background-color: #fff;
  box-shadow: 0px 10px 10px 0px #aaaaaa !important;
  z-index: 1010;
  
  .Link {
    display: inline-block;
    color: grey;
    padding-top: 8px;
    cursor: pointer;
  }
  .Link:hover {
    text-decoration: none;
  }
  .ActiveLink {
    color: $activeLinkButton;
    font-weight: bold;
  }
  .PipeLink {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
  }
}
