@import '../../../style.scss';

$logoWidth: 24px;

.Lexicon{
  position: fixed;
  right: 0;

  .TextInfo {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 16px;
  }

  .Button {
    background-color: $scanrdeepblueColor;
    color: white;
    font-family: Georgia,Times,Times New Roman,serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    border: 0px;
    padding: 8px 16px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
  }
  .Button:hover {
    background-color: $scanrgreyColor;
  }
}

.Panel {
  position: fixed;
  right: 0;
  top: 56px;
  width: 500px;
  height: 100%;
  background-color: $scanrfooterBgColor;
  z-index: 1000;
  border-left: 1px solid $scanrgreyColor;
}


.ButtonClosePanel {
  position: relative;
  left: -45px;
  top: 40px;
  background: none;
  background-color: $scanrfooterBgColor;
  color: white;
  font-family: Arial,serif;
  font-weight: bold;
  font-size: 19px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px 0 0 8px;
}
.ButtonClosePanel:hover {
  background-color: $scanrgreyColor;
}

.Content {
  padding: 0 16px;
  color: $scanrlightgreyColor;
  height: 100%;
  H2 {
    padding-left: 24px;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  H2>SPAN {
    display: inline-block;
  }
  H2>SPAN:first-child {
    padding-right: 12px;
  }
  H2>SPAN:last-child {
    padding-left: 12px;
  }
  HR {
    border-bottom: 2px solid $scanrgreyColor;
    margin: 24px;
  }
  UL {
    height: 100%;
    overflow-y: scroll;
    padding-right: 16px;
  }
  UL::-webkit-scrollbar {
  	width: 14px;
  	height: 14px;
    -webkit-border-radius: 10px;
  	background-color: $scanrblueColor;
  }
  UL::-webkit-scrollbar-thumb {
  	border: solid 0 transparent;
  	border-right-width: 1px;
  	border-left-width: 1px;
  	-webkit-border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 6px White;
  }
  LI {
    list-style-type: none;
  }
  .Logo {
    display: inline-block;
    width: $logoWidth;
  }
  .Title {
    font-weight: bold;
  }
  .Description {
    color: $scanrmiddlegreyColor;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-left: $logoWidth;
  }
  .Switch {
    transform: rotate(180deg);
  }
}
