@import '../../../style.scss';

.Lexicon{
  position: fixed;
  right: 0;

  .TextInfo {
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 16px;
  }

  .Button {
    background-color: $scanrdeepblueColor;
    color: #fff;
    font-family: Georgia,Times,Times New Roman,serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    border: 0px;
    padding: 8px 16px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
  }
  .Button:hover {
    background-color: $scanrgreyColor;
  }

}

.Panel {
  position: fixed;
  right: 0;
  top: 56px;
  width: 500px;
  height: 100%;
  background-color: $scanrfooterBgColor;
  z-index: 1000;

}

.ButtonClosePanel {
  position: relative;
  left: -45px;
  top: 40px;
  background: none;
  background-color: $scanrdeepblueColor;
  color: #fff;
  font-family: Arial,serif;
  font-weight: bold;
  font-size: 24px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px 0 0 8px;
}
.ButtonClosePanel:hover {
  background-color: $scanrgreyColor;
}
