@import '../../../style.scss';


.FiltersContainer {
  background-color: $alphaWhite7;
  color: $scanrdeepblueColor;
  border-radius: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 993px) {
  .FiltersContainer {
    border-radius: 0px !important;
  }
}

.FilterHeaders {
  font-size: 1.3em;
  font-weight: 700;
}

.Visible { display: block; }
.Hidden { display: none; }
