@import '../../../../../style.scss';

.bt_showAll{
  margin-top: 16px;
  text-align: center;
}

.Map{
  padding: 0;
  height: calc(100vh - 225px);
}

.Height{
  height: 100%;
}

.Scroll{
  overflow-y: scroll;
  height: calc(100vh - 205px);
}
