@import '../../../style.scss';

.HeaderTitle {
  background-color: $bgHeaderTitle;
  border-bottom: solid rgb(0, 33, 59);

  .Title {
    font-size: $sizeHeaderTitle;
    color: $colorHeaderTitle;
    font-weight: bold ;
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 16px;
  }

  .BreadCrumb {
    padding-left: 16px;
    padding-top: 15px;
    color: $colorPathHeaderTitle;
  }

  .img {
    display: inline-block;
    width: calc(100% - 100px);
    max-width: 250px;
    min-width: 100px;
  }
}
