@import '../../../style.scss';
.info {
  margin-bottom: 18px;
  padding: 8px;
  background-color: $scanrfooterBgColor;
  border-radius: 8px;
  color: $scanrlightgreyColor;
}
.filters {
  background-color: $scanrfooterBgColor;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  color: $scanrlightgreyColor;

  .title {
    margin-top: 8px;
    font-weight: bold;
    color: $scanrlightgreyColor;
  }
}
