@import '../../../../../../style.scss';


.Localisation {
  .NoSpace {
    margin: 0;
    padding: 0;
  }
  .MapContainer {
    padding-top: 1px;
    .Map{
      margin: 2px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 310px;
    }
  }

  .AddressContainer {
    position: relative;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $localisationTextTitleColor;
    font-style: italic;
    font-size: 0.9rem;

    .Title {
      padding: 16px;
    }
    I {
      display: inline-block;
      padding-right: 8px;
    }
    .Address {
      margin-top: 10px;
      padding-left: 24px;
      line-height: 22px;
      color: $localisationTextColor;
      font-weight: bold;
      font-size: 1.2rem;
      font-style: normal;
    }
  }

}
