@import '../../../../../../style.scss';

.detailTitle{
  color: $scanrdeepblueColor;
  font-size: 1.20rem;
  font-weight: 500;
  margin: 0;
}

.Grey {
  font-size: 0.9rem;
  color: $scanrgreyColor;
}

.Italic {
  font-style: italic;
}

.Ids {
  font-size: 0.9rem;
  color: $scanrgreyColor;
}


.Oa {
  display: inline-block;
}

.isOa {
  color: rgb(32, 225, 104) !important;
}

.isNotOa {
  color: #aaa !important;
}

.Source  {
  display: inline-block;
  SPAN {
    font-weight: bold;
    font-style: italic;
  }
}

.Summary {
  text-align: justify;
  height: 235px;
  overflow-y: auto;
  padding-right: 16px;

}
.Summary::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 10px;
  background-color: $scanrlightgreyColor;
}
.Summary::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
  border-right-width: 1px;
  border-left-width: 1px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 6px White;
}

.Keywords {
  padding: 16px 16px 0 16px;
  a {
    color: $scanrblueColor;
  }
  a:focus {
    color: $scanrblueColor;
  }
}

.IconPdf {
  i{
    display: inline-block;
    padding-right: 5px;
  }
}
.Empty{
  color: $scanrgreyColor;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-top: 20%;
}

.thesis {
  border: 2px solid #fead3f;
  border-radius: 4px;
  color: #fead3f;
  background-color: #fead3f;
}
.publication {
  border: 2px solid $publicationsColor;
  border-radius: 4px;
  color: $publicationsColor;
  background-color: $publicationsColor;
}
.patent {
  border: 2px solid #4D2E3F;
  border-radius: 4px;
  color: #4D2E3F;
  background-color: #4D2E3F;
}

.BtnWidth {
  width: 200px;
}
