@import '../../../../../../style.scss';

.graphCard {
  background-color: white;
  color: $scanrdeepblueColor;
  border-radius: 8px;
  margin-bottom: 8px;
}

.Title {
  display: block;
  font-weight: bold;
  padding: 6px 0;
  margin: 0;
}

.Filters {
  padding: 0;
  padding-bottom: 16px;
}
.graphSelector {
  color: $scanrdeepblueColor;
  background-color: $scanrlightgreyColor;
}
.active {
  color: white;
  background-color: $scanrblueColor;
}
