@import '../../../../../../style.scss';


.Title {
  color: $scanrdeepblueColor;
  font-weight: 700;
  font-size: 1.7em;
}
.Icon {
  color: $scanrdeepblueColor;
  font-weight: 700;
  font-size: 1.7em;
}
