@import '../../style.scss';

.HomePage{
  padding: 0;
  background-color: #fff;
}

.HomePageLexiconTop{
  top: 80px;
}

.Title {
  margin: 10px;
  font-size: 2em;
}

.Text {
  margin-top: 10px;
  font-family: "lato";
  color: #003259;
  font-weight: bold;
  padding-left: 2%;
}

.Subtext {
  font-size: 0.9em;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
}


 .Button {
   background-color: white;
   border: none;
   cursor: pointer;
 }
