@import '../../../../style.scss';


.DiscoverScanR {
  padding: 32px 50px ;
  color: #fff;
  font-size: 1.8em;
  background-color: $bgHomePageSearch;

  .Player {
    width: 100%;
    padding: 40px;
  }

}
