@import '../../../../../../style.scss';

.History {
  .NoSpace {
    margin: 0;
    padding: 0;
  }
}

.HistoryListCard {
  position: relative;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  min-height: 150px;
  margin: 2px;

  .Logo {
    color: $scanrgreyColor;
  }

  .Title {
    color: $scanrgreyColor;
    font-style: italic;
    padding-top: 8px;
    padding-bottom: 16px;
    font-size: 0.9rem;
  }

  .Label {
    padding-top: 16px;
    color: $textColor;
    font-weight: bold;
  }
}
