@import '../../style.scss';

.undefined_bg_color{
  background-color: $undefinedStatus;
}
.old_bg_color{
  background-color: $oldStatus;
}
.conflict_bg_color{
  background-color: $conflictStatus;
}
.active_bg_color{
  background-color: $activeStatus;
}
.main_bg_color{
  background-color: $mainStatus;
}
