@import '../../style.scss';

.Tags{
  display: inline-block;
  margin-right: 16px;
  padding: 2px 8px;
  color: #fff;
  border-radius: 10px;
  font-size: 0.8em;
}

.undefined_bg_color{
  background-color: $undefinedStatus;
}
.old_bg_color{
  background-color: $oldStatus;
}
.active_bg_color{
  background-color: $activeStatus;
}
.main_bg_color{
  background-color: $mainStatus;
}
