@import '../../../style.scss';

.PanelContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  z-index: 5;
}

.Panel {
  background-color: #fff;
  border-right: 1px solid #bbb;
}
