@import '../../../../style.scss';

.ButtonToPage {
  background-color: rgb(56, 119, 186);
  color: white;
  font-size: 0.7rem;
  font-weight: bolder;
  padding: 8px;
  padding-left: 16px;
  border-radius: 5px;

  .Text {
    padding-left: 8px;
  }
}
.ButtonToPage:hover {
  background-color: $hoverLinkButton;
}
