@import '../../../../style.scss';

.ButtonMiniDarkToSearch {
  display: inline-block;
  padding: 2px 8px;
  background-color: $scanrdeepblueColor;
  color: white !important;
  margin-left: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.ButtonMiniDarkToSearch:hover {
  background-color: $scanrgreyColor;
  color: white !important;
}
