@import '../../../../style.scss';

.ButtonMiniDarkToSearch {
  display: inline-block;
  padding: 2px 8px;
  background-color: rgb(0, 50, 89);
  color: white;
  margin-left: 2px;
  border-radius: 5px;
}
