@import '../../../../style.scss';

.Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1003;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.Modal {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: none;

  .modal-header {
    border-bottom: 1px solid #e9ecef;
  }

  .modal-close {
    background-color: transparent;
    border: 0;

    &.close {
      padding: 1rem;
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
    }
  }

  .wrapper-title {
    .title {
      z-index: 1002;
      font-size: 1.3em;
      color: $scanrdeepblueColor;
      font-weight: bold;
      margin: 0;
    }
  }
}