@import '../../../../style.scss';

.Modal {
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  max-height: 70vh;
  min-height: 70vh;
  width: 90vw
}

@media screen and (min-width: 992px) {
  .Modal {
    width: 60vw
  }
}

.Overlay {
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1003;
}

.ReactModal__BodyOpen {
  overflow: hidden;
}

.Title {
  z-index: 1002;
  color: $scanrdeepblueColor;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

.Header {
  border-bottom: 1px solid #e9ecef;
}

.Close {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.Close:hover {
  cursor: pointer;
}

