@import '../../../../style.scss';

.CardsTitle {
  text-transform: uppercase;
  color: $textColor;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px;
  margin: 2px;
  background-color: $scanrmiddlegreyColor;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
}
