@import '../../../style.scss';


.Section {
  padding: 0;
  margin: 0;
  padding-left: 4px;
}

.ActiveFiltersContainer {
  background-color: $titleColor;
  color: white;
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 8px;
}

.ResultCardsContainer {
  border-radius: 8px;
  margin-bottom: 8px;
}

.ResultHeader {
  font-size: 1.3em;
  font-weight: 700;
}
