@import '../../style.scss';

.sidebar{
  padding: 2rem;
  background-color: $menu-background;
  height: 100%;
  li{
    a{
      color: $white-ter;
    }
    a:active{
      background-color: #b0b0b0;
    }
  }

  .active{
    background-color: $turquoise;
  }
}
