@import '../../../../style.scss';

.Publication {
  font-family: 'Lato', sans-serif;
  padding-top: 24px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 50%; /* version standardisée */
  background-color: rgb(233, 236, 241);
  background-position: bottom 0 left 0;

  .NoSpace {
    margin: 0;
    padding: 0;
  }
}
