@import '../../../../style.scss';


.Section {
  background-color: $alphaWhite7;
  border-radius: 8px;
}

.Buttons {
  border-radius: 8px;
  color: white;
  font-weight: 700;
  background-color: $scanrblueColor;
  line-height: 1.5;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.MaxPage{
  color: $scanrdeepblueColor;
  font-size: 1em;
  font-weight: 700;
}

.PageInput {
  background-color: white;
  text-align: center;
  border: 2px solid $scanrdeepblueColor;
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  color: $scanrdeepblueColor;
  font-size: 1em;
  border-radius: 8px;
  width: 40px;
}
.PageInput:focus {
  border: 2px solid $scanrgreyColor;
  outline: none;
}


.NoDisplay {
  display: None !important;
}

.NextPrevious {
  color: white;
}
