@import '../../../style.scss';

.CardWithButtonBigger {
  color: white;
  background-color: rgb(56, 119, 186);
  border-radius: 8px;
  padding: 16px;
  margin:2px;
  height: 170px;

  .Title {
    font-size:1.4rem;
    height: 70px;
    text-align: center;
    line-height: normal;
    display: block;
    margin : auto;
  }

  .Button {
    width:100px;
    padding-top: 34px;
    display: block;
    margin : auto;
    .Butt {
      background-color: white;
      color:$opendataTitleBgColor;
      font-size:0.8rem;
    }
  }
}
