@import '../../../style.scss';

.CardToPage {
  padding-bottom: 10px ;
  border-radius: 5px  ;
  width: 100%;
  height: 10rem;
  margin: auto;


  .Title {
    font-size: 1.1em;
    padding-bottom: 5px;
    margin:auto;
  }

  .Button {
    margin: auto;
    width: 6rem;
  }

}

@media (min-width: 20px) and (max-width: 991.98px) {
  .CardToPage {
  margin: auto;
  }
}
