@import '../../../style.scss';

.CardWithButton {
  color: white;
  background-color: rgb(56, 119, 186);
  border-radius: 8px;
  padding: 16px;
  margin:2px;
  height: 170px;
  font-weight: bold;

  .Title {
    font-size: 1rem;
    height: 70px;
  }

  .Button {
    width:100px;
    padding-top: 34px;
    .Butt {
      background-color: white;
      color:$opendataTitleBgColor;
      font-size:0.8rem;
    }
  }
}
