@import '../../../style.scss';

.MediasCard {
  margin:0;
  padding: 0;

  .Content {
    border-radius: 8px;
    margin:6px;
    padding: 16px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 33, 59);

    .TopCard {
      margin:0;
      padding: 0;
      margin-bottom: 12px;
      height:7em;
      position: relative;
      overflow:hidden;
      max-height: 10em;

      .Title {
        font-size: 1.1em;
        line-height: 1.3em;
        max-height: 3.9em;
      }

      .Title:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
    }

    .BottomCard{
      padding: 0;
      margin:0;
      height: 2em;

      .Source {
        font-weight: bold;
        text-align: left;
        height:7em;
        position: relative;
        overflow: hidden;
        max-height: 1.3em;
        .TitleSource {
          font-size: 0.9em;
          line-height: 1.3em;
          max-height: 1.3em;
        }
        .TitleSource:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 30%;
          height: 1.2em;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }
      }
      .Date {
        font-size: 0.8rem;
        font-weight:normal ;
      }

      .ButtonPosition{
        position:relative;

        .Button {
          position:absolute;
          width: 6rem;
          background-color: rgb(56, 119, 186);
          color: white;
        }
      }
    }
  }
}
