@import '../../../../../style.scss';

.Address{
  border: 1px solid #DBDBDB;
  padding: 16px;
  width: 100%;
}
.Address:hover{
  box-shadow: 1px 1px 8px #DBDBDB;
}
.SearchResults{
  cursor: pointer;
}
.Text1{
  display: inline-block;
  padding-left: 16px;
}
.Text2{
  display: inline-block;
  padding-left: 32px;
}
