@import '../../style.scss';

.filters {
  flex: 0 1 calc(33% - 5px);
  align-self: stretch;
}
@media screen and (max-width: 991px) {
  .filters {
    flex: 0 1 100%;
  }
}

.results {
  flex: 0 1 calc(67% - 5px);
  align-self: stretch;
}
@media screen and (max-width: 991px) {
  .results {
    flex: 0 1 100%;
  }
}
