@import '../../../../style.scss';

.Ecosystem {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $textColor;

  .Label {
    font-weight: bold;
    display: inline-block;
    padding-left: 8px;
    font-family: 'Lato', sans-serif;
  }

  .List {
    height: 515px;
    direction: rtl;
    padding-left: 16px;
    padding-right: 20px;
    border-radius: 10px;
    overflow-y: scroll;

    .Title {
      background-color: $scanrdeepblueColor;
      color: white;
      padding: 6px 12px;
      direction: ltr;

      .StructureLabel {
        font-size: 1.3rem;
        font-weight: bold;
        display: inline-block;
        padding-left: 5px;
      }
      .NBCollaborations {
        display: inline-block;
        padding-right: 5px;
        padding-top: 4px;
        float: right;
      }

    }
    .Title:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .Item {
      background-color: $scanrlightgreyColor;
      padding-left: 12px;
      color: $scanrdeepblueColor;
      cursor: pointer;
      direction: ltr;

      .StructureTitle {
        font-weight: bold;
        padding-top: 6px;
      }
      .SharedProd {
        padding: 0 12px 6px 12px;
        font-style: italic;
        font-size: 0.9rem;
        border-bottom: 1px solid $scanrmiddlegreyColor;
      }
    }
    .Item:hover {
      background-color: $entityColor;
    }
    .Selected {
      background-color: $entityColor;
      position:relative;
    }
    .Selected:focus {
      outline: none;
    }
    .Selected:after {
      content:'';
      position: absolute;
      top: 24%;
      left: 100%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: solid 20px $entityColor;
      border-left: solid 20px transparent;
      border-right: solid 20px transparent;
      transform: rotate(270deg);
    }
  }

  .List::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 10px;
    background-color: $scanrlightgreyColor;
  }
  .List::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 1px;
    border-left-width: 1px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 6px White;
  }

  .List:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
  }
}

.Details {
  .Arrow>I{
    display: inline-block;
    padding-right: 5px;
  }
}

.SectionTitle {
  font-size: 1.5rem;
}
