@import '../../../style.scss';

  .FocusBox {
	  background-color: $scanrmiddlegreyColor;
	  border-radius: 8px;
  }
  
  .scanrIsContainer{
    padding: 0 120px 0 120px;
  }

  .cardHeader {
    h2 {
//	    display: inline;
	    padding-left: 5px;
	    font-size: 1.6rem;
	    // text-align: right;
    }
    i {
	 padding-bottom: 2px !important;
    }
    padding: 20px 20px 20px 0px;
    // background-color: $scanrgreyColor;
    // border-radius: 8px 8px 0 0;
  }
