@import '../../../../style.scss';

.FocusCard {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 24px;
  margin: 15px 0;

  .Img {
    height: 300px;

  }
  .Title {
    height: 70px;
    color: $titleColor;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: $tagsColor;
    line-height: 18px;
  }

  .TagsAndButton {

    .Tag {
      color: $tagsColor;
      font-size: 0.9em;
    }
    .Tag:after {
      content: " ";
    }

    .Button {
      font-size: 1.3em;
    }
  }
}
