@import '../../../../style.scss';

.Thesis {
  font-family: 'Lato', sans-serif;
  padding-top: 24px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 50%; /* version standardisée */
  background-color: $scanrlightgreyColor;
  background-position: bottom 0 left 0;

}

.OaSection {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.AuthorsSection {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 50%; /* version standardisée */
  background-color: $scanrblueColor;
  background-position: right 0 bottom 0;
}

.AffiliationsSection {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 50%; /* version standardisée */
  background-color: $scanrlightgreyColor;
  background-position: bottom 0 left 0;
}

.SimilarProductions {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 50%; /* version standardisée */
  background-color: $scanrlightgreyColor;
  background-position: bottom 0 left 0;
}

.PersonCardHeight {
  height: 160px;
}

.Ul {
  padding: 0;
}

.Li {
  list-style: none;
  padding: 3px;
}

.SectionTitle {
  padding-bottom: 20px;
  font-size: 1.6rem;
  color: $scanrdeepblueColor;
}

.Label {
  font-weight: bold;
  display: inline-block;
  padding-left: 8px;
}

.Success {
  color: $projectmiddlegreenColor;
}
.Danger {
  color: $scanrgreyColor;
}

.BGLightGrey {
  background-color: $scanrlightgreyColor;
}

.BGMiddleGrey {
  background-color: $scanrmiddlegreyColor;
}
