@import '../../../../style.scss';

.BreadCrumb {
  color: white;

  .breadcrumb {
    background-color: #ffffff00;
  }

  .breadcrumb > .active {
    color: $colorBreadCrumbHeaderTitle;
    font-weight: bold;

  }

  .breadcrumb > .active:before {
    content: ">";
    color: white;
  }


}
