@import '../../../style.scss';

.SearchBar2 {
  background-color: white;
  border: 2px solid $scanrdeepblueColor;
  height: 45px;
  font-size: 1em;
  border-radius: 8px;
  width: 100%;
}
.SearchBar2:focus {
  border: 2px solid $scanrgreyColor;
  outline: none;
}
.SearchBar {
  padding-top: $headerHeight;
  padding-bottom: 16px;
  background-color: $scanrblueColor;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-position: top 50% left 82%;
  border-bottom: 8px solid $scanrdeepblueColor;

  .Logo {
    height: 130px;
    padding-top: 40px;

    IMG {
      height: 85%;
    }
  }

  .MainContainer {
    padding-top: 8px;
  }

  LABEL {
    font-size: 1rem;
    margin-bottom: 2px;
  }
  .TitleSearchBar { color: white; }

  .SearchPerimeter { color: $scanrdeepblueColor; }

  .btn_dark_margin { margin-top: 24px; height: 45px; width: 45px; }

  .Select {
    background-color: $scanrdeepblueColor;
    color: white;
    border: 1px solid $scanrdeepblueColor;
    height: 45px;
  }

  .HowTo {
    color: white;
    text-decoration: underline;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .Suggest {
    color: white;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 991px) {
  .Suggest { display: none; }
  .SearchBar {
    padding-top: 66px;
    padding-bottom: 8px;
    background-position: top 10% left 92%;
  }
}
