@import '../../../../../style.scss';

.Carto {
  border-radius: 24px;
  background-color: white;
  padding: 16px;
}

.MapBox {
  border: 1px solid $scanrmiddlegreyColor;
  border-radius: 24px;
}

.Title {
  color: $scanrdeepblueColor;
  font-family: "lato";
  font-size: 1.5em;
  font-weight: bold;
}

.SubTitle {
  color: $scanrdeepblueColor;
  font-style: italic;
}

.Bullet {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  display: inline-block;
}

.nationalDepots {
  background-color: $PatentsNationalDepots;
}
.internationalDepots {
  background-color: $PatentsInternationalDepots;
}
.noDepot {
  background-color: $PatentsNoDepot;
}
