@import '../../../../../style.scss';

.OaCard {
  background-color: white;
  border-radius: 8px;
  min-height: 150px;
  text-align: center;

  .Label {
    color: $scanrdeepblueColor;
    font-weight: bold;
    font-style: italic;
  }
  .Icon {
    display: inline-block;
    padding: 32px;
    border-radius: 50%;
    I {
      font-size: 3rem;
      color: white;
    }
  }
}

.OaOpenBg {
  background-color: $oaOpenColor;
}
.OaOpenRepository {
  background-color: $oaOpenRepositoryColor;
}
.OaOpenPublisher {
  background-color: $oaOpenPublisherColor;
}
.OaClose {
  background-color: $oaClose;
}

.OaHost {
  background-color: $scanrlightgreyColor;
  border-radius: 8px;
  min-height: 150px;
  text-align: center;

  .Title {
    padding-top: 16px;
    color: $scanrblueColor;
    font-style: italic;
  }
  .Label {
    padding-top: 16px;
    color: $scanrdeepblueColor;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.OaLink {
  background-color: $scanrblueColor;
  border-radius: 8px;
  min-height: 150px;
  text-align: center;

  .Title {
    padding-top: 16px;
    color: $scanrlightgreyColor;
    font-style: italic;
  }
  A {
    font-size: 3rem;
    color: white;
  }
  A:hover {
    color: $scanrmiddlegreyColor;
  }
}
