@import '../../../../style.scss';

.card {
  flex: 0 1 calc(50% - 4px);
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .card {
    flex: 0 1 100%;
  }
  .ResultCard {
    min-height: 50px !important;
  }
}

.GreyTitle {
  color: $scanrgreyColor !important;
}
.TextOverflow {
  text-overflow: ellipsis;
}
.Highlights {
  font-size: 0.8em;
}

.Tags {
  color: $scanrelectricblueColor;
  font-weight: 500;
  font-size: 0.9em;
}
.UnknownData {
  color: $scanrgreyColor;
  font-style: italic;
  font-size: 0.9em;
}
.Capitalised {
  font-style: italic;
  line-height: 1;
}
.FoundIn {
  font-size: 0.8em;
  font-weight: 600;
}
.NoneStyleUL {
  list-style: none;
}
.InlineLI {
  display: inline;
}
.HighlightEntitySep {
  background-color: $entityColor;
  border-color: $entityColor;
}
.HighlightProjectSep {
  background-color: $projectgreenColor;
  border-color: $projectgreenColor;
}
.HighlightProductionSep {
  background-color: $publicationsColor;
  border-color: $publicationsColor;
}
.HighlightPersonSep {
  background-color: $personsColor;
  border-color: $personsColor;
}

.ResultCard {
  height: calc(100% - 8px);
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 0.90em;
  padding: 1.5em 1.5em 0.6em 1.5em;
  box-shadow: 0px 0px 8px $scanrmiddlegreyColor;

  .CardTitle {
    color: $scanrdeepblueColor;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1;
  }
  .CardTitle > a {
    color: $scanrdeepblueColor;
  }
  .CardTitle > a:hover {
    color: $scanrblueColor;
    text-decoration: underline $scanrblueColor;
    cursor: pointer;
  }

  .CardContent {
    line-height: 1.5;
  }

  .Icons {
      font-size: 1.1em;
      color: $scanrblueColor;
      min-width: 28px !important;
  }
}

.ResultCard2 {
  height: calc(100% - 3px);
  border-radius: 8px;
  margin-bottom: 1px;
  font-size: 0.90em;
  padding: 0.5em 0.5em 0.5em 0.5em;

  .CardTitle2 {
    color: $scanrdeepblueColor;
    font-size: 1.1em;
    font-weight: 600;
  }
}
