@import '../../../../../style.scss';

.Title {
  display: block;
  font-weight: bold;
  padding: 6px 0;
  margin: 0;
}

.ListOfProductions {
  height: 515px;
  direction: rtl;
  padding-left: 16px;
  padding-right: 20px;
  border-radius: 10px;
  overflow-y: scroll;

  .TitleYear {
    background-color: $scanrdeepblueColor;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    padding: 6px 12px;
  }
  .TitleYear:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .Item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .Item {
    direction: ltr;
    background-color: $scanrlightgreyColor;
    padding-left: 12px;
    color: $scanrdeepblueColor;
    cursor: pointer;

    .Type {
      display: block;
      text-align: right;
      padding: 1px 12px;
      font-style: italic;
      font-size: 0.9rem;
      border-bottom: 1px solid $scanrmiddlegreyColor;

      .publication {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 5px;
        background-color: $productionpublicationColor;
        margin-right: 5px;
      }
      .these {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 5px;
        background-color: $productionthesesColor;
        margin-right: 5px;
      }
      .brevet {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 5px;
        background-color: $PatentsNationalDepots;
        margin-right: 5px;
      }
    }
  }
  .Item:hover {
    background-color: $scanrblueColor;
    color: white;
  }
}
.ListOfProductions::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 10px;
  background-color: $scanrlightgreyColor;
}
.ListOfProductions::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
  border-right-width: 1px;
  border-left-width: 1px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 6px White;
}

.ListOfProductions:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}

.Selected {
  background-color: $scanrblueColor !important;
  color: white !important;
  position:relative;
}
.Selected:focus {
  outline: none;
}
.Selected:after {
  content:'';
  position: absolute;
  top: 24%;
  left: 100%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 20px $scanrblueColor;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  transform: rotate(270deg);
}
