@import '../../../../style.scss';

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
  padding: 15px 15px;
  margin: 3px;
}

.img {
  max-width: 100%;
  height: 100%;
}
