@import '../../../../style.scss';

.SectionTitle {
  color: $textColor;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;

  .Label {
    display: inline-block;
    padding-left: 8px;
  }

}
