@import '../../../style.scss';

.Footer{
  background-color: $bgHeaderFooter;
  color: rgb(236, 236, 236);
  height: 200px;
  padding-top: 32px;

  font-size: 13px;
  line-height: 20px;
  color: #B2C1CD;
}
