@import '../../../style.scss';

$linkColor: rgb(255, 255, 255);
$linkColorHover: rgb(255, 255, 255);

.Footer {
  background-color: $bgFooter;
  height: $footerHeight;
  padding-top: 32px;
  color: #ddd;
	font-family: 'Inter UI';
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;

  .Logo {
    height: 50px;
  }

  .SocialNetworks {
    font-weight: normal;
    color: #bbb;
  }

  .SocialNetworkItems {
    padding-left: 0;
  }

  .SocialNetworkItem {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $linkColor;
  }
  a:active, a:hover {
    color: $linkColorHover;
  }
}
