@import '../../../style.scss';

$linkColor: rgb(255, 255, 255);
$linkColorHover: rgb(255, 255, 255);



.FeedbackModal {
  .Header {
    background-color: $scanrlightgreyColor;
    I {
      display: inline-block;
      padding-right: 16px;
    }
  }

  .Title {
    font-size: 1.8rem;
    color: $scanrfooterBgColor;
    font-weight: bold;
    font-family: 'Lato';
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .Content {
    background-color: $scanrfooterBgColor;
    span {
      color: $scanrlightgreyColor;
    }
    button {
      background-color: $scanrblueColor;
    }
    button:hover {
      background-color: $scanrelectricblueColor;
    }
  }

  .Term {
    color: $scanrlightgreyColor;
    padding-left: 8px;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .Definition {
    color: $scanrmiddlegreyColor;
    A {
      color: white;
      font-weight: bold;
    }
    A:hover, A:focus {
      color: $scanrblueColor;
      font-weight: bold;
    }
  }

  .Footer {
    background-color: $scanrlightgreyColor;
  }
}

.Footer {
  background-color: $bgFooter;
  // min-height: $footerHeight; deleted by fred TODO check
  padding-top: 32px;
  color: #ddd;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;

  LI {
    list-style: none;
  }

  .feedback {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.feedbackButton {
  background-color : $projectgreenColor;
  cursor: pointer;
  color: white;
  padding: 15px 15px;
  border-radius: 50%;
  border:none;
}

.feedbackButton:hover {
	background-color : $projectmiddlegreenColor;
}

.feedback:focus {
  outline: none !important;
}
.feedbackButton:focus {
  outline: none !important;
}


  .Logo {
    height: 50px;
  }

  .SocialNetworks {
    font-weight: normal;
    color: #bbb;
  }

  .SocialNetworkItems {
    padding-left: 0;
  }

  .SocialNetworkItem {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $linkColor;
  }
  a:active, a:hover {
    color: $linkColorHover;
  }

  .Col {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .Footer {
    .Col {
      text-align: center !important;
    }
    UL {
      text-align: center !important;
      padding-left: 0 !important;
    }
  }
}
