@import '../../../style.scss';

$linkColor: rgb(255, 255, 255);
$linkColorHover: rgb(255, 255, 255);


.Footer {
  background-color: $bgFooter;
  // min-height: $footerHeight; deleted by fred TODO check
  padding-top: 32px;
  color: #ddd;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;

  LI {
    list-style: none;
  }

  .feedback {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.feedbackButton {
  background-color : $projectgreenColor;
  color: white;
  padding: 15px 15px;
  border-radius: 50%;
  border-color : $projectgreenColor;
}


  .Logo {
    height: 50px;
  }

  .SocialNetworks {
    font-weight: normal;
    color: #bbb;
  }

  .SocialNetworkItems {
    padding-left: 0;
  }

  .SocialNetworkItem {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $linkColor;
  }
  a:active, a:hover {
    color: $linkColorHover;
  }

  .Col {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .Footer {
    .Col {
      text-align: center !important;
    }
    UL {
      text-align: center !important;
      padding-left: 0 !important;
    }
  }
}
