@import '../../../style.scss';

.scanrInput {
  height: 41px;
  border-radius: 8px;
  border: 2px solid $scanrdeepblueColor;
}

.scanrTextArea {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 2px solid $scanrdeepblueColor;
}

.Texte {
  color: $scanrgreyColor;
  font-size: 0.9em;
  font-style: italic;
}

.ConfirmEmail {
  display: None;
}
