@import './../../../../../../../style.scss';

.Header{
  display: inline-block;
  height: 24px;
}

.Text{
  display: inline-block;
  font-weight: bolder;
  color: #777;
  padding-top: 8px;
  padding-bottom: 8px;
}
