@import '../../../../style.scss';

.bt_showAll{
  margin-top: 16px;
  text-align: center;
}

.Map{
  padding: 0;
  margin-bottom: 24px;
}

.FullDisplay{
  height: 100%;
  width: 100%;
}

.SearchResults{
  cursor: pointer;
}
