@import '../../style.scss';

.TextTitle{
  font-size: 1.5em;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;

  i{
    display: inline-block;
    padding-right: 10px;
  }

  a{
    color: #fff;
  }
}
