@import '../../../style.scss';

.EvolutionCardByType {
  width: 100%;
  border-radius: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;


  .Value {
    color: $titleColor;
    font-size: 1.2em;
    font-weight: bold;
  }

}
.entitiesBgColor {
  background-color: $entitiesColor;
}
.projectsBgColor {
  background-color: $projectsColor;
}
.personsBgColor {
  background-color: $personsColor;
}
.publicationsBgColor {
  background-color: $publicationsColor;
}
