@import '../../style.scss';

.Na{
  color: #bbb;
  font-size: 0.8em;
}
.Header{
  display: inline-block;
  height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.LifeCycle{
  display: block;
  padding: 10px;
  background-color: #dedede;
  font-family: Courier New,Courier,Lucida Sans Typewriter;
}
.ListContainer{
  position:absolute;
  z-index: 5;
}
.Li{
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 2px 5px;
}
.Li:hover{
  background-color: #f5f5f5;
}
.Text{
  display: inline-block;
  color: #333;
  font-size: 16px;
  height: 24px;
}

.Title{
  padding-top: 16px;
  padding-bottom: 0;
  display: block;
  color: #4d4b4b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.bt_add{
  margin-left: 16px;
  display: inline-block;
}

.bt_showAll{
  margin-top: 16px;
  text-align: center;
}
.BoxSizing {
  box-sizing: border-box;
}
.BoxSizing:focus{
  width: auto;
}
.Card{
  margin: 16px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}
.Card .CardTitle{
  color: #777;
  font-weight: bold;
  padding-top: 16px;
  font-style: italic;
}
.Card .CardContent{
  font-size: 1.8vw;
  color: #333;
  font-weight: bold;
}
.InputDate{
  max-width: 175px;
  width: auto;
}
.LinkCard{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  margin: 16px 55px 16px 16px;
  background-color: #00D1B2;
  color: #fff;
  font-size: 1.8vw;
}
.LinkCard .LinkCardContent{
  font-size: 16px;
  padding-top: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Status{
  max-width: 110px;
}
.TagCloud{
  flex: 1;
  height:200px;
  width: 100%;
}
