@import '../../../style.scss';

.CardOneColumn {
  color: white;
  background-color: rgb(33, 72, 103);
  border-radius: 8px;
  padding: 16px;
  margin:2px;
  height: 150px;
  font-weight: bold;

  .Title {
    font-size: 0.9rem;
    height: 70px;
  }

  .Button {
    width:80px;
    padding-top: 24px;
    // float: right;
  }
}
