@import '../../../style.scss';

.CardTwoColumns {
  background-color: $opendataTitleBgColor;
  color: white;
  border-radius: 8px;
  padding: 16px;
  padding-top: 10px;
  height: 170px;
  margin:2px;

  .Content {
    font-size: 0.9rem;
  }

  .Title {
    font-size: 1.4rem;
  }

}
