@charset "utf-8";

/* General */
$activeLinkButton: rgb(20, 51, 88);
$hoverLinkButton: rgb(33, 72, 103);
$tagsColor: rgb(56, 119, 186);
$titleColor: rgb(20, 51, 88);
$opendataTitleBgColor: rgb(0, 33, 59);
$entitiesColor: rgb(235, 192, 52);
$personsColor: rgb(254, 119, 71);
$projectsColor: rgb(93, 217, 157);
$publicationsColor: rgb(204, 61, 143);
$textColor: rgb(0, 50, 89);
$headerHeight: 56px;

.entitiesBgColor {
  background-color: $entitiesColor !important;
  color: $titleColor !important;
}
.projectsBgColor {
  background-color: $projectsColor !important;
  color: $titleColor !important;
}
.personsBgColor {
  background-color: $personsColor !important;
  color: $titleColor !important;
}
.publicationsBgColor {
  background-color: $publicationsColor !important;
  color: $titleColor !important;
}

/* HomePage */
$bgHomePageSearch: rgb(56, 119, 186);
$bgDiscoverDataEsr: rgb(56, 119, 186);

/* Lexique */
$bgLexicon: rgb(0, 33, 59);

/* Footer */
$bgFooter: rgb(0, 33, 59);
$footerHeight: 200px;

/*HeaderTitle*/
$bgHeaderTitle : rgb(56, 119, 186);
$colorHeaderTitle: rgb(255, 255, 255);
$sizeHeaderTitle : 2em;
$colorBreadCrumbHeaderTitle : rgb(255,255,255);

/*BreadCrumb*/
$breadcrumb-divider: quote(">");

$otherPagesPaddingTop: 90px;
$otherPagesPaddingBottom: 90px;


.InfoIcon_style {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8em;
}

.btn_dark{
  background-color: rgb(0, 33, 59);
  color: white;
}
