@charset "utf-8";

/* General */
$activeLinkButton: rgb(0, 33, 59);
$hoverLinkButton: rgb(33, 72, 103);
$titleColor: rgb(0, 33, 59);
$entitiesColor: rgb(235, 192, 52);
$personsColor: rgb(254, 119, 71);
$projectsColor: rgb(93, 217, 157);
$publicationsColor: rgb(204, 61, 143);

/* HomePage */
$bgHomePageSearch: rgb(56, 119, 186);

/* Lexique */
$bgLexicon: rgb(0, 33, 59);

/* Footer */
$bgFooter: rgb(0, 33, 59);
$footerHeight: 200px;

/*HeaderTitle*/
$bgHeaderTitle : rgb(56, 119, 186);
$colorHeaderTitle: rgb(255, 255, 255);
$sizeHeaderTitle : 2em;
$colorPathHeaderTitle : rgb(255,255,255);

.InfoIcon_style {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8em;
}
