@import '../../../../style.scss';

.PersonCardName {
  border-radius: 8px;
  text-align: center;
  height: 175px;

  background-color: white;

  .Logo {
    padding-top: 16px;
    color: $scanrgreyColor;
  }

  .Title {
    color: $scanrgreyColor;
    font-style: italic;
    font-size: 0.9rem;
    padding-top: 8px;
  }

  .Label {
    padding: 3px;
    color: $scanrdeepblueColor;
    line-height: 22px;
    font-weight: bold;
  }
}
.MyUL {
  margin-bottom: 0px;
}
.ParticipationsCard {
  border-radius: 8px;
  text-align: center;
  height: 204px;
  background-color: white;
}
.Number {
  color: $scanrdeepblueColor;
  font-size: 4em;
  padding-top: 8px;
}
