@import '../../../../style.scss';

.Team {
  font-family: 'Lato', sans-serif;
  padding-top: 24px;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  background-attachment: relative;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: 30%; /* version standardisée */
  background-color: $scanrlightgreyColor;
  background-position: bottom 0 right 0;

  .TeamComposition {
    .NoSpace {
      margin: 0;
      padding: 0;
    }
  }
}

.noListStyle {
  list-style: none;
}
