@import '../../../style.scss';


.Title {
  color: $scanrdeepblueColor;
  font-weight: 700;
  font-size: 1.7em;
  text-transform: capitalize;
}
.Icon {
  color: $scanrdeepblueColor;
  font-weight: 700;
  font-size: 1.7em;
}
.Text {
  color: $scanrdeepblueColor;
  font-size: 1.1rem;
}
