@import '../../../style.scss';

.TitleFilter {
  font-size: 0.9em;
  display: inline-block;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 0;
  color: #4c6f8b;
}
.FullBar {
  border-left: 0.15em solid $scanrlightgreyColor;
  border-right: 0.15em solid $scanrlightgreyColor;
}

.OutSelection {
  background-color: $scanrlightgreyColor;
}
.FullBar:hover {
  border-bottom: 3px solid $scanrlightgreyColor;
  cursor: pointer;
}
.transparent {
  background-color: transparent !important;
  height: 100%;
}
.transparent:hover {
  border-bottom: 3px solid $scanrlightgreyColor;
  cursor: pointer;
}
.RangeBox {
  height: 40px;
  width: 100%;
}
.sliderBase {
}
.slider {
  border-radius: 5px;
  background-color: $scanrlightgreyColor;
  height: 3px;
}

.thumb {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  border: 1px solid $scanrgreyColor;
  background: $scanrlightgreyColor;
  cursor: pointer;
}
.sliderButton {
  position: relative;
  background-color: $scanrgreyColor;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.high {
  bottom: 30px;
}
.low {
  bottom: 10px;
}
.Years {
  position: relative;
  top: 20px;
  left: -5px;
  font-size: 0.8em;
}
