@import '../../../style.scss';

.DiscoverThreeCards {
 padding: 24px 0;
 color: white;
 background-repeat: no-repeat;
 background-attachment: relative;
 -webkit-background-size: cover;
 background-size: 30%;

 .Button {
   background-color: white;
 }
}
