name: Production deployment

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

env:
  # Must match k8s deployment name
  DEPLOYMENT: scanr
  DEPLOYMENT_URL: https://scanr.dataesr.ovh
  SLACK_NOTIFICATION_CHANNEL: '#scanr'

jobs:
  publish-ghcr:
    name: Publish docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get version
        id: version
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/}

      - name: Log into registry
        run: docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build -t ${{ github.repository }} .

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          docker tag ${{ github.repository }} $IMAGE_ID:latest
          docker tag ${{ github.repository }} $IMAGE_ID:${{ steps.version.outputs.version }}
          docker push $IMAGE_ID:latest
          docker push $IMAGE_ID:${{ steps.version.outputs.version }}

  release:
    name: Release new version
    runs-on: ubuntu-latest
    needs: publish-ghcr
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get version
        id: version
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/}
      - name: Create changelog text
        id: changelog
        uses: loopwerk/tag-changelog@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config_file: .github/config/changelog.js
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.version.outputs.version }}
          release_name: ${{ steps.version.outputs.version }}
          body: "${{ steps.changelog.outputs.changes }}"

  # deploy:
  #   name: Update production deployment
  #   runs-on: ubuntu-latest
  #   needs: release
  #   steps:

  #     - name: Check Out Repo
  #       uses: actions/checkout@v2

  #     - name: Deploy to Cluster
  #       id: kubectl-deploy
  #       uses: dataesr/kubectl-deploy@v1.1
  #       env:
  #         KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_DOAD }}
  #       with:
  #         restart: ${{ env.DEPLOYMENT }}

  notify:
    needs: release
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dataesr/slack-notifier-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          slack_token: ${{ secrets.SLACK_TOKEN }}
          slack_channel: ${{ env.SLACK_NOTIFICATION_CHANNEL}}
          # deployment_url: ${{ env.DEPLOYMENT_URL }}