@import '../../../style.scss';

.CardToPage {
  padding: 24px 70px;
  text-align: center;
  color: rgb(15, 30, 62);

  .Title {
    padding-bottom: 8px;
    font-size: 1.1em;
  }

  .Button {
  padding: 10px ;
  }

}

@media (min-width: 0px) and (max-width: 991.98px) {
  .CardToPage {

  }
}
