@import '../../../style.scss';

.CardToPage {
  padding-bottom: 10px ;
  color: rgb(15, 30, 62);
  border-radius: 5px  ;
  width: 20rem;
  height: 150px;
  text-align: center;



  .Title {
    font-size: 1.1em;
    padding-bottom: 10px;
    margin:auto;
  }

  .Button {
    margin: auto;
    width: 40%;
  }

}

@media (min-width: 20px) and (max-width: 991.98px) {
  .CardToPage {
  margin: auto;
  }
}
