@import '../../../style.scss';


.Section {
  padding: 16px;
  padding-bottom: 8px;
}

.ObjetcsNavItem {
  background-color: white;
  margin-right: 8px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $scanrdeepblueColor !important;
  text-align: center;
}

.ObjectsNavItemActive {
  background-color: $scanrdeepblueColor;
  color: white !important;
}

.ObjetcsNavItem:hover {
  cursor: pointer;
  margin-right: 8px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $scanrdeepblueColor;
  text-decoration: none;
  box-shadow: 1px 1px 15px white
}

.ResultsNavContainer {
  margin-top: 8px;
  padding-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  right: 8px;
  background-color: $scanrdeepblueColor;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.ResultsNavItem {
  background-color: white;
  border-radius: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  color: $scanrblueColor;
  cursor: pointer;
  .ResultsNavItemIcon {
    margin-left: 8px;
    margin-right: 16px;
  }
}
.ResultsNavItemCols {
  padding-left: 4px;
  padding-right: 4px;
  min-height: 36px;
}
.ResultsNavItemActive {
  background-color: $scanrblueColor;
  border-radius: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  color: white;
  font-weight: 500;
}
.ResultsNavItem:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px $scanrlightgreyColor;
}
